@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #9fabb2;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 4.8rem 9.6rem;
}

.container--120mw {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 9.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 600;
  color: #4c545d;
}

.heading-primary {
  font-size: 4.4rem;
}

.heading-secondary {
  font-size: 3rem;
}

.heading-tertiary {
  font-size: 2rem;
}

.buttons {
  position: relative;
}

.buttons :not(:last-child) {
  margin-right: 1.6rem;
}

.button:link,
.button:visited {
  border-radius: 10rem;
  height: 5rem;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  padding: 1.4rem 4.4rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button--ios:link,
.button--ios:visited {
  background-color: #26baa4;
  -webkit-box-shadow: 0 0.2rem 0 #1e9583, 0 1.5rem 3rem rgba(38, 186, 164, 0.2);
          box-shadow: 0 0.2rem 0 #1e9583, 0 1.5rem 3rem rgba(38, 186, 164, 0.2);
}

.button--ios:link:hover, .button--ios:link:active,
.button--ios:visited:hover,
.button--ios:visited:active {
  background-color: #3cc1ad;
}

.button--mac:link,
.button--mac:visited {
  background-color: #6173ff;
  -webkit-box-shadow: 0 0.2rem 0 #4e5ccc, 0 1.5rem 3rem rgba(97, 115, 255, 0.2);
          box-shadow: 0 0.2rem 0 #4e5ccc, 0 1.5rem 3rem rgba(97, 115, 255, 0.2);
}

.button--mac:link:hover, .button--mac:link:active,
.button--mac:visited:hover,
.button--mac:visited:active {
  background-color: #7181ff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex__direction--col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex__gap--s {
  gap: 2.4rem;
}

.flex__gap--m {
  gap: 4.8rem;
}

.flex__gap--l {
  gap: 8rem;
}

.flex__justify-content--c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__align-items--c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex__align-self--c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid__col--2 {
  -ms-grid-columns: 0.7fr 0.3fr;
      grid-template-columns: 0.7fr 0.3fr;
}

.grid__col--3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid__col-gap--s {
  -webkit-column-gap: 3.2rem;
          column-gap: 3.2rem;
}

.grid__col-gap--l {
  -webkit-column-gap: 9.6rem;
          column-gap: 9.6rem;
}

.margin-bottom--xxs {
  margin-bottom: 0.8rem;
}

.margin-bottom--xs {
  margin-bottom: 1.6rem;
}

.margin-bottom--s {
  margin-bottom: 3.2rem;
}

.margin-bottom--m {
  margin-bottom: 4.8rem;
}

.margin-bottom--l {
  margin-bottom: 8rem;
}

.margin-left--auto {
  margin-left: auto;
}

.text-align--c {
  text-align: center;
}

.height--5rem {
  height: 5rem;
}

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  background-position: center;
  padding: 4.8rem;
}

.header .logo {
  width: 15%;
}

.header__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  color: #9fabb2;
  padding: 0 4.8rem;
}

.features {
  line-height: 1.7;
}

.features__text {
  font-size: 1.8rem;
}

.features__info-box {
  max-width: 75vw;
}

.features__image {
  width: 100%;
}

.features__description {
  font-size: 1.4rem;
}

.specialities__text {
  font-size: 1.6rem;
}

.specialities__icon {
  height: 15%;
}

.specialities__description {
  font-size: 1.4rem;
  line-height: 1.7;
}

.featured__logo {
  width: 15%;
}

.downloads__text {
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 0 4.8rem;
}

.footer {
  background-color: #f5f7f7;
}

.footer__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem 9.6rem;
}

.footer__logo {
  height: 85%;
}

.footer__lists :not(:last-child) {
  margin-bottom: 1.4rem;
}

.footer__list, .footer__social-list {
  font-size: 1.2rem;
  list-style: none;
}

.footer__link:link, .footer__link:visited {
  color: #4c545d;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__link:hover, .footer__link:active {
  color: #26baa4;
}

.footer__social-lists {
  margin-left: auto;
}

.footer__social-icon {
  width: 75%;
}

.footer__social-icon:hover, .footer__social-icon:active {
  -webkit-filter: saturate(75);
          filter: saturate(75);
}

@media (max-width: 30rem) {
  .container {
    max-width: 35rem;
    padding: 4.8rem 0;
  }
  .heading-primary {
    font-size: 3.2rem;
  }
  .header {
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    background-position: center;
    padding: 4.8rem 2.4rem;
  }
  .header__logo-box {
    margin-bottom: 4.8rem;
  }
  .header .logo {
    width: 30%;
  }
  .header__text {
    font-size: 1.6rem;
    padding: 0 1rem;
  }
  .header .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.4rem;
  }
  .header .buttons :not(:last-child) {
    margin-right: 0;
  }
}
