//Importing font-family from "Google fonts"
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4.8rem 9.6rem;
}
