.grid {
  display: grid;
}

.grid__col--2 {
  grid-template-columns: 0.7fr 0.3fr;
}

.grid__col--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid__col-gap--s {
  column-gap: 3.2rem;
}

.grid__col-gap--l {
  column-gap: 9.6rem;
}
