@media (max-width: 30rem) {
  //BASE
  .container,
  .container--120mw {
    max-width: 35rem;
    padding: 4.8rem 0;
  }

  .heading-primary,
  .heading-secondary {
    line-height: initial;
  }

  .heading-primary {
    font-size: 3.2rem;
  }

  .heading-secondary {
    font-size: 2.6rem;
  }

  .header {
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    background-position: center;
    padding: 8rem 2.4rem 0;

    &__logo-box {
      margin-bottom: 4.8rem;
    }

    .logo {
      width: 35%;
    }

    &__text {
      font-size: 1.6rem;
      padding: 0 1rem;
    }
  }

  .buttons {
    @include flex__direction--col;

    :not(:last-child) {
      margin-right: 0;
    }
  }

  .features {
    padding: 4.8rem 2.4rem;

    &__text {
      font-size: 1.6rem;
      padding: 0 1.3rem;
    }

    &__info-box {
      max-width: 35rem;
      margin: 0 auto;

      @include flex__direction--col;
      gap: 4.8rem;
    }

    &__info {
      padding: 0 1.6rem;
      text-align: center;
    }

    &__description {
      font-size: 1.6rem;
    }

    &__image {
      width: 100%;
    }
  }

  .specialities {
    padding: 0 4.6rem;

    &__info-box {
      @include flex__direction--col;
    }
  }

  .featured-in {
    &__logo-box {
      flex-direction: column;
    }

    &__logo {
      width: 35%;
    }
  }

  .cta {
    padding: 4.8rem 4.4rem;

    &__text {
      font-size: 1.5rem;
      padding: 0;
    }
  }

  .footer {
    text-align: center;

    &__logo {
      width: 35%;
    }

    &__container {
      max-width: 35rem;
      padding: 4.8rem 6.4rem;
    }

    &__about-company {
      @include flex__direction--col;
      align-items: center;
    }

    &__navigations {
      display: block;
    }

    &__lists {
      :not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }

    &__list {
      font-size: 1.4rem;
      margin-bottom: 2.4rem;
    }

    &__social-navigations {
      margin-left: 0;
    }

    &__social-lists {
      gap: 3.2rem;
    }
    &__social-icon {
      width: 100%;
    }
  }
}
