//MARGINS

.margin-bottom--xxs {
  margin-bottom: 0.8rem;
}
.margin-bottom--xs {
  margin-bottom: 1.6rem;
}

.margin-bottom--s {
  margin-bottom: 3.2rem;
}

.margin-bottom--m {
  margin-bottom: 4.8rem;
}

.margin-bottom--l {
  margin-bottom: 8rem;
}
