// COLORS
$color__blue--light: hsl(233, 100%, 69%);
$color__blue--dark-grayish: hsl(210, 10%, 33%);
$color__blue--grayish: hsl(201, 11%, 66%);
$color__cyan--strong: hsl(171, 66%, 44%);

$color__white: #fff;
