// IMPORTS
@import "_base.scss";
@import "components/buttons";
@import "layouts/_flex.scss";
@import "layouts/_grid.scss";
@import "_utility.scss";
@import "_variables.scss";

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  background-position: center;
  padding: 4.8rem;

  .logo {
    width: 15%;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    color: $color__blue--grayish;
    padding: 0 4.8rem;
  }
}

.features {
  line-height: 1.7;

  &__text {
    font-size: 1.8rem;
  }

  &__info-box {
    max-width: 75vw;
  }

  &__image {
    width: 100%;
  }

  &__description {
    font-size: 1.4rem;
  }
}

.specialities {
  &__text {
    font-size: 1.6rem;
  }

  &__icon {
    height: 15%;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}

.featured {
  &__logo {
    width: 15%;
  }
}

.downloads {
  &__text {
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 0 4.8rem;
  }
}

.footer {
  background-color: #f5f7f7;

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3.2rem 9.6rem;
  }

  &__logo {
    height: 85%;
  }

  &__lists {
    :not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }

  &__list,
  &__social-list {
    font-size: 1.2rem;
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    color: $color__blue--dark-grayish;
    text-decoration: none;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color__cyan--strong;
  }

  &__social-lists {
    margin-left: auto;
  }
  &__social-icon {
    width: 75%;

    &:hover,
    &:active {
      filter: saturate(75);
    }
  }
}

@import "_media-queries.scss";
