// IMPORTS
@import "_base.scss";
@import "components/buttons";
@import "layouts/_flex.scss";
@import "layouts/_grid.scss";
@import "_utility.scss";
@import "abstracts/_mixins.scss";
@import "abstracts/_variables.scss";

.header {
  background-image: url(../images/bg-header-desktop.png);
  background-size: cover;
  background-position: center;

  // Added this padding so that the header moves down a little bit, without it's way too much at the top.
  padding-top: 4.8rem;

  .logo {
    width: 15%;
  }

  &__text {
    color: $color__blue--grayish;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0 4.8rem;
  }
}

.features {
  &__text {
    padding: 0 4.8rem;
  }

  &__info-box {
    max-width: 75vw;
  }

  &__image {
    width: 100%;
  }

  &__info {
    text-align: initial;
  }

  &__description {
    font-size: 1.4rem;
  }
}

.specialities {
  &__icon {
    height: 15%;
    margin-bottom: 2.4rem;
  }

  &__description {
    font-size: 1.4rem;
  }
}

.featured-in {
  &__logo-in {
    width: 15%;
  }
}

.cta {
  &__text {
    padding: 0 4.8rem;
  }
}

.footer {
  background-color: #f5f7f7;
  text-align: initial;

  &__container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 2.4rem 6.4rem;
  }

  &__logo {
    width: 35%;
  }

  &__lists {
    :not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }

  &__list,
  &__social-list {
    font-size: 1.2rem;
    list-style: none;
  }

  &__link:link,
  &__link:visited {
    color: $color__blue--dark-grayish;
    text-decoration: none;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color__cyan--strong;
  }

  &__social-icon {
    width: 75%;

    &:hover,
    &:active {
      filter: saturate(70);
    }
  }
}

@import "_media-queries.scss";
